<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBo1g0jeB23Ay1xtejSs3MsH0T9v-Xq1A</string>
	<key>GCM_SENDER_ID</key>
	<string>725490416911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ironhashira.Expense-Tracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-4eeaa</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-4eeaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725490416911:ios:cf43e1232a8e9fdf85927a</string>
</dict>
</plist>